In [20]:
Ages = [19,22,19,24,20,25,26,24,25,24]
Ages.sort()
print(Ages)
print("Max = ",max(Ages), "\nMin = ",min(Ages))

#Adding the min age and the max age again to the list
Ages.append(min(Ages))
Ages.append(max(Ages))
print(Ages)
l= len(Ages)

#logic for Median Age
if(len(Ages)%2==0):
  Median1 = Ages[l//2] 
  Median2 = Ages[l//2-1]
  Median = (Median1+Median2)//2
else:
  Median =  Ages[l//2]
print("Median = ",Median)

print("Average = ", sum(Ages)/l)
print("Range = ",max(Ages)-min(Ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Max =  26
Min =  19
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median =  24
Average =  22.75
Range =  7

In [3]:
dog = {} #Empty dictionary
dog.update({'name':'husky','color':'black','breed':'Siberian husky','Legs':4,'age':3});
student = { 'first_name':'Tejaswi Reddy', 'last_name':'Kallepu', 'gender':'F', 'age':23, 'marital_status':'Unmarried', 'skills':['Python','ML','Java'], 'country':'India', 'city':'Hyderabad', 'address':'Karimnagar'}
print(len(student))
print(student["skills"],type(student["skills"]))
student["skills"].append("SAP PI/PO")
student["skills"].append("SAP CPI")
print(student.keys())
print(student.values())

9
['Python', 'ML', 'Java'] <class 'list'>
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
dict_values(['Tejaswi Reddy', 'Kallepu', 'F', 23, 'Unmarried', ['Python', 'ML', 'Java', 'SAP PI/PO', 'SAP CPI'], 'India', 'Hyderabad', 'Karimnagar'])

In [21]:
brothers = ("Vamshi","Chandu","Mike")
sisters = ("Akshaya","Priya","Donna","Rachel")
siblings = brothers+sisters #Joining the tuples
print(siblings)
print("No. of siblings = ",len(siblings))

('Vamshi', 'Chandu', 'Mike', 'Akshaya', 'Priya', 'Donna', 'Rachel')
No. of siblings =  7

In [9]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Length of it_companies =",len(it_companies))

it_companies.add("Twitter")

it_companies.update({"TCS","Accenture"})

it_companies.remove("Accenture")

print(A|B) #Joining the sets
print(A.intersection(B))
print(A.issubset(B))
print(A.symmetric_difference(B))
del A,B
age_set = set(age)
print(len(age_set)<len(age))

Length of it_companies = 7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
{27, 28}
True

In [11]:
import math
radius = int(input("radius: "))

_area_of_circle_ = math.pi*radius*radius
_circum_of_circle_ = 2*math.pi*radius
print("Area of circle=",_area_of_circle_, "\nCircumference of circle=",_circum_of_circle_)

radius: 30
Area of circle= 2827.4333882308138
Circumference of circle= 188.49555921538757

In [12]:
s ="I am a teacher and I love to inspire and teach people"
l=set(s.split(" "))
print(l)
print(len(l))

{'love', 'I', 'am', 'a', 'inspire', 'teach', 'people', 'teacher', 'to', 'and'}
10

In [13]:
print("Name\t\tAge\tCountry\t\tCity")
print("Asabeneh\t250\tFinland\t\tHelsinki")

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

In [14]:
radius = 10
print("Radius = {}".format(radius))

print("area = {} * radius ** 2".format(3.14))

print("The area of a circle with radius {} is {} meters square.".format(10,int(3.14* 10 **2)))

Radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314 meters square.

In [22]:
def lbToKg(k):
    return round(k*0.45359237,2) #converting lbs. to kilograms

N = int(input())
l  = list(map(int, input().split()))
k=list()
for i in range(N):
    k.append(lbToKg(l[i]))
print(k)

4
150 155 145 148
[68.04, 70.31, 65.77, 67.13]